<div class="card mx-auto">
    <h1>Recognitions</h1>
    <div>
        <p>
            As India’s most preferred airline, we were recognized by several reputed 
            organizations from around the world:
        </p>
        <ul>
            <li>
                We were awarded with “World’s Youngest Aircraft Fleet” in the 100+ aircraft category by ch-aviation.
            </li>
            <li>
                We were ranked as the 5th most punctual mega airline in the world by the Official Aviation Guide (‘OAG’).
            </li>
            <li>
                We were awarded as the “Best Low-Cost Airline in India & South Asia” by SkyTrax in 2023, for the 13th time in a row.
            </li>
        </ul>
    </div>
</div>