.card-1{
    width: 95%;
    height: 300px;
    background-color: #323031;
    color: #ffc857;
    margin: 25px;
    border: 2px solid #ffc857;
}

.card-2{
    width: 95%;
    height: 300px;
    background-color: #323031;
    color: #ffc857;
    margin: 25px;
    border: 2px solid #ffc857;
}

.card-3{
    width: 95%;
    height: 300px;
    background-color: #323031;
    color: #ffc857;
    margin: 25px;
    border: 2px solid #ffc857;
}

.section-1{
    width: 75%;
    height: 300px;
    position: relative;
    display: flex;
    float: right;
    margin-top: 10px;
    margin-left: 15px;
}

.section-2{
    width: 23%;
    height: 300px;
    position: relative;
    display: flex;
    float: left;
}

img{
    width: 100%;
    height: 296px;
}

.para{
    margin-top: 20px;
}

.section-3{
    width: 23%;
    height: 300px;
    position: relative;
    display: flex;
    float: right;
}

.section-4{
    width: 75%;
    height: 300px;
    position: relative;
    display: flex;
    float: left;
    margin-top: 2.7%;
    margin-left: 15px;
}

.section-5{
    width: 75%;
    height: 300px;
    position: relative;
    display: flex;
    float: right;
    margin-top: 10px;
    margin-left: 15px;
}

.section-6{
    width: 23%;
    height: 300px;
    position: absolute;
    display: flex;
    float: left;
}

.table-card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#more{
    font-size: 35px;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap");
body {
  background-color: #212121;
}
body section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
body section .row {
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 10px 0;
  transition: ease all 2.3s;
  perspective: 1200px;
  background-color: transparent;
  border: none;
  backface-visibility: hidden;
  margin-bottom: 100px;
  margin-top: 10px;
}
.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}
.card:hover .cover:before {
  transform: translateZ(30px);
}
.card:hover .cover:after {
  background-color: black;
}
.card:hover .cover h1 {
  transform: translateZ(100px);
}
.card:hover .cover .price {
  transform: translateZ(60px);
}
.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}
.card .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.card .cover:before {
  content: "";
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}
.card .cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}

.card .cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 3em;
  transform: translateZ(0px);
}
.card .cover .price {
  font-weight: 200;
  position: absolute;
  top: 55px;
  right: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 4;
  font-size: 2em;
  transform: translateZ(0px);
}
.card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid #ffc857;
  border-radius: 2rem;
  font-weight: 200;
  font-size: 1.3em;
  color: #ffc857;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
}
.card .card-back a:hover {
  background-color: #177e89;
  color: #ffc857;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0b0f08;
  margin-top: 30px;
}