<div class="card-1">
    <div class="section-1">
        <div class="para">
            <p>
                <em>Zap Travels</em> is India’s largest and most preferred passenger airline and 
                amongst the fastest growing airlines in the world.
            </p>
            <p>
            <em>Zap Travels</em> is amongst the fastest-growing low-cost carriers in the world.
            <em>Zap Travels</em> has a simple philosophy: offer fares that are affordable,
            flights that are on time, and provide a courteous and hassle-free travel experience across
            its unparalleled network. With its fleet of 150+ aircraft,
            the airline is operating 850+ daily flights and connecting 80+ domestic destinations.
            </p>
            <p>
                Our many first-time flyers are a true testimony to this, just as the economy and trade that
                 can flourish as a result of all these connections.
            </p>
        </div>
    </div>
    <div class="section-2">
        <img src="assets/au-1.jpg" alt="flight image">
    </div>
</div>

<div class="card-2">
    <div class="section-3">
        <img src="assets/au-3.webp" alt="Flight interior look">
    </div>
    <div class="section-4">
        <div class="para">
            <p>
                We understand that a highly engaged and motivated workforce leads to higher 
                levels of customer service. Our core strength lies in our highly skilled, 
                motivated, and engaged employees, who enable us to deliver the courteous and 
                hassle-free service to the 300,000 passengers flying with us each day.
                The <b>“Power of We”</b> – the teamwork displayed by our employees – is tangible 
                across our stations and departments.
            </p>
            <p>
                Over the years a strong IndiGo culture has been build and nurtured. This is centered 
                around our four values: Safety first, Passionately consistent, Service from 
                the heart and Humility with pride – which our staff exhibit in their daily work.
            </p>
        </div>
    </div>
</div>

<div class="card-3">
    <div class="section-5">
        <div class="para">
            <p>
                At <em>Zap Travels</em>, we strive to deliver our customer promise in the most sustainable way 
                possible. Today, around 80% of our fleet is new generation and due to that, we 
                are one of the lowest CO2 emitting airlines in the world. Apart from this, 
                sustainability is integrated at the operational level and we are making a series 
                of investments towards more responsible flying including single engine taxiing.
            </p>
            <p>
                Being a responsible airline, we believe that Corporate Social Responsibility 
                (CSR) is an important aspect of our growth strategy. Our CSR arm, ZapReach, 
                contributes towards the goal of sustainable development for communities. It 
                focuses on four themes: children and education, women empowerment, environment, 
                and heritage. With different programs being implemented across 18 
                Indian states we have been able to reach over 100,000 beneficiaries.
            </p>
        </div>
    </div>
    <div class="section-6">
        <img src="assets/au-2.webp" alt="services" style="width: 80%;">
    </div>
</div>
  <h1>More About Us</h1>
<section>
	<div class="row" >
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card" >
				<div class="cover item-a">
					<h1>Recognition</h1>
					<div class="card-back">
                        <a routerLink="Recognition">view more</a>
                    </div>
                </div>
            </div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">
				<div class="cover item-b">
					<h1>Cargo<br>Products</h1>
					<div class="card-back">
                        <a routerLink="cargo">view more</a>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">
				<div class="cover item-c">
					<h1>Conditions<br>of<br>Contract</h1>
					<div class="card-back">
                        <a routerLink="terms">view more</a>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>

