<h3>Company List</h3>
    <table class="table">
        <tr>
            <th> Company Name </th>
            <th> Company CEO Name </th>
            <th> Years of Service </th>
            <th> Founded Year </th>
            <th> Actions </th>
        </tr>
        <tr *ngFor = "let company of companys | paginate: { itemsPerPage: count, currentPage: p }">
            <td> {{company.companyName}} </td>
            <td> {{company.companyOwnerName}} </td>
            <td> {{company.yearsOfService}} </td>
            <td> {{company.establishedYear}} </td>
            <td >
                <button (click)="updateCompany(company.companyId)" class = "btn btn-info" >
                 <i class="fa-regular fa-pen-to-square fa-beat-fade" style="color: cornflowerblue;"></i> Update </button>
                 <button (click)="deleteCompany(company.companyId)" class = "btn btn-danger" style="margin-left: 5px;">
                   <i class="fa-regular fa-trash-can fa-flip" style="color: crimson; ;"></i> Delete </button>
                 <button (click)="viewCompany(company.companyId)" class = "btn btn-info" style="margin-left: 5px;">
                   <i class="fa-solid fa-eye fa-bounce" style="color: cornflowerblue;"></i> View </button> 
             </td>
        </tr>
    </table>
    <div class="buttons" *ngIf="companys.length !== 0">
        <button class="m-3 btn btn-sm btn-danger"  (click)="removeAllCompanys()">
              Remove All
            </button>
          </div>
      
      <div class="text-center" style="color: #ffc857">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

