.card{
    width: 380px;
    height: 400px;
    display: flex;
    color: #ffc857;
    background-color: #323031;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.button{
    display: flex;
    float: right;
    width: 100px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: #177e89;
    color: #ffc857;
    margin-top: 25px;
    border: 2px solid #ffc857;
    border-radius: 2rem;
}