<div class="cargo">
    <h1><b>Cargo Products</b></h1>
    <div>
        <p>
            <em>Zap Travels</em> has the capability, resources, and personnel to offer customised cargo 
            solutions to clients from diverse sectors. Our expansive global network and fully 
            equipped operations hub based worldwide allows us to seamlessly take care of the unique 
            requirements of our customers while ensuring that their cargo reaches their destination 
            safely and securely. Use our expertise to see why we should be your only cargo partner of 
            choice.
        </p>
    </div>
    <h4><b>Baggage as Cargo</b></h4>
    <div>
        <p>
            Unaccompanied or personal baggage shipped as cargo can only include your apparel 
            and movable articles, including musical instruments, typewriters, and sports equipment.
        </p>
    </div>
    <h6>Exclusions</h6>
    <div>
        <ul>
            <li> Machinery, machine, or spare parts </li>
            <li> Money </li>
            <li> Securities </li>
            <li> Jewellery and watches </li>
            <li> Plate and plated ware </li>
            <li> Films and cameras </li>
            <li> Tickets and documents </li>
            <li> Liquor and perfumes </li>
            <li> Articles of household furnishing </li>
            <li> Furs </li>
            <li> Merchandise </li>
            <li> Salesman samples </li>
        </ul>
    </div>
    <h4>Live Animals</h4>
    <div>
        <p>
            Air India can carry live animals as cargo subject to the applicable regulatory 
            authority's conditions and regulations. If you want to use this service, please comply 
            with the current IATA Live Animals Regulations (LAR) and Air India requirements.
        </p>
        <p>Human Remains</p>
        <div>
            <p>Air India can carry two types of human remains:</p>
            <ul>
            <li>A human body in a coffin</li>
            <li>Human remains like ash in an urn</li>
        </ul>
        </div>
        <div>
            <p>To send human remains as cargo on international flights, please make sure 
                you have the following documents:
            </p>
            <ul>
                <li>Death certificate</li>
                <li> Cremation certificate (if as ashes)</li>
                <li> Embalming certificate (if in a coffin)</li>
                <li> Police certificate (mandatory if the death is unnatural)</li>
                <li> Cancelled passport </li>
                <li> Consular certificate (from the office of the Consular of the nationality of the deceased)</li>
            </ul>
        </div>
    </div>
    <h4>Valuable Cargo</h4>
    <div>
        <p>
            The security measures within warehouses, during aircraft loading/unloading, customs clearance, and ground transportation depend entirely on the local regulations and conditions. All valuable cargo is handled separately from regular air cargo. Air India and its designated staff will ensure special service and protection for your valued items.
        </p>
    </div>
    <h4>Valuable Cargo</h4>
    <div>
        <p>
            Air India staff accepting, and handling cargo will ensure and verify that fragile 
            cargo is packed appropriately before loading into a Unit Load Device (ULD) or on an 
            aircraft. Every fragile package must be affixed with ‘Fragile’ label as specified. 
            When moving it on the ULD, we ensure that fragile cargo is not over stowed by 
            oversized or heavy cargo.
        </p>
    </div>
    <h4>Cold Storage</h4>
    <div>
        <p>
            Temperature-sensitive healthcare products are accepted and handled following 
            temperature control regulations (TCR) and other applicable regulations. Cargo 
            which needs to be kept at low temperatures or highly perishable goods will only 
            be allowed minimum storage time before shipment.
        </p>
        <p>
            Given below is a list of cargo that would need cold storage: 
        </p>
        <ul>
            <li> Fresh fruits and vegetables</li>
            <li> Fresh fruits and vegetables</li>
            <li> Meat</li>
            <li> Vaccine </li>
            <li> Some chemicals/drugs </li>
            <li> Other perishable cargo </li>
        </ul>
    </div>
    <h4>Outsized or Overhang Items (Heavy Cargo)</h4>
    <div>
        <p>
            An item loaded on two or more pallets or which, due to its size or weight, requires 
            special handling/equipment for loading and unloading is categorised as an 
            ‘Overhang item’. The code BIG applies only to loads on pallets, and floating pallets 
            (pallets that occupy more than one pallet position) are to be treated as BIG. We 
            specialise in carrying heavy and odd-sized cargo as we operate wide-body aircraft.
        </p>
    </div>
    <h4>Perishable Goods</h4>
    <div>
        <p>
            Perishable cargo will deteriorate over time or if exposed to adverse temperatures, 
            humidity, or other environmental conditions. We take utmost care while accepting 
            perishable cargo for carriage by air. The acceptance is per the IATA PCR checklist 
            (TCR) or equivalent. Additionally, when accepting and handling perishable goods, you 
            must meet the current IATA Perishable Cargo Regulations (PCR), the carrier requirement, 
            other applicable regulations, and conditions of relevant regulatory authorities such as 
            the government of origin, transit, and destination etc. If shippers have specific 
            temperature or ground handling requirements, we check and confirm transit and whether 
            we can comply with the request.
        </p>
    </div>
    <h4>Flowers</h4>
    <div>
        <p>
            Flowers are usually wrapped in protective paper and then packed in cardboard boxes 
            or wicker baskets with arrangements in place for smooth handling.
        </p>
    </div>
    <h4>Meat</h4>
    <div>
        <p>
            Meat is packed in waterproof material and handled as wet cargo. Strict hygiene 
            conditions are maintained during all stages of handling meat.
        </p>
    </div>
    <h4>Hatching Eggs</h4>
    <div>
        <p>
            Eggs are appropriately packed in strong fibre boards or wooden boxes with 
            honeycombed separation trays to allow the stacking of parcels on top of each other, 
            and arrangements are made for smooth handling.
        </p>
    </div>
    <h4>Fresh Fish</h4>
    <div>
        <p>
            Appropriate packing and handling are crucial to delivering perishable goods in good 
            condition. The packing must facilitate the integrity of the goods and the 
            handling/storage of the goods. The packing must be durable enough to withstand 
            temperature changes and stacking. 
        </p>
    </div>
    <h4>Live Human Organs and Vaccines/Medical Supplies</h4>
    <div>
        <p>
            Live human organs, blood, and lifesaving drugs/vaccines are treated and handled 
            with extreme care and urgency. Short-life radioactive isotopes are handled with 
            extreme urgency and in accordance with the current IATA guidelines.
        </p>
    </div>
    <h4>Diplomatic Cargo</h4>
    <div>
        <p>
            The carriage of diplomatic mail is usually done on behalf of the government of 
            India and handled by the Ministry of External Affairs in India and the Indian Embassy, 
            the Consulate or Legation in other countries. However, diplomatic mail is also 
            carried on behalf of other governments and, in all cases, is treated with top priority.
        </p>
    </div>
    <h4>Wet Cargo</h4>
    <div>
        <p>
            Shipments containing liquids, or shipments that may produce liquids and are not 
            subject to the IATA Dangerous Goods Regulations, shall be labelled ‘Wet Cargo’.
        </p>
    </div>
    <h4>Courier Bags Under Air Waybills</h4>
    <div>
        <p>
            Air India carries courier bags under an air waybill. The courier terminal at 
            various stations is designated at different locations. And at multiple stations, 
            they are within the cargo warehouse.
        </p>
    </div>
    <h4>International/Domestic Post Office mail</h4>
    <div>
        <p>
            Air India carries postal mail on international and domestic flights with utmost care and priority.
        </p>
    </div>
    <h4>Dangerous Goods</h4>
    <div>
        <p>
            Air India Air Operator Permit (AOP) allows us to carry certain dangerous goods as 
            cargo. Also, the acceptance and transportation of such goods are mandatorily 
            governed by the state and operator variations as defined in the current IATA DGR. 
            The handling procedures for carrying dangerous goods are based on the ICAO Annex 
            18 Technical Instructions, Aircraft Rules 1937, and the latest IATA Dangerous Goods 
            Regulations. The same is also applicable to handling such goods in COMAT. All 
            dangerous goods must be packed, meeting the quantity limitations per package. 
            Please note that poor or inadequate packing can cause leakage/pilferage resulting 
            in risk to safety, health, equipment, property, and environment. 
        </p>
        <p>
            Certain dangerous goods are affected by changes in temperature, humidity, 
            pressure, and vibrations during the flight. Hence, the shipper’s responsible 
            for ensuring that all dangerous goods are properly packed, and the packaging meets 
            the performance standards detailed in the current IATA DG Regulations.
        </p>
    </div>
</div>