<div class="condition">
    <h1>CONDITIONS OF CONTRACT - INTERNATIONAL</h1><br>
    <p><b>Notice concerning carrier's limitation of liability</b></p><br>
    <p>
        If the carriage involves an ultimate destination or stop in a country other than the 
        country of departure, the Montreal Convention or the Warsaw Convention may be applicable 
        to the liability of the Carrier in respect of loss of, damage or delay to cargo. 
        Carrier's limitation of liability in accordance with those conventions shall be as 
        set forth in sub-paragraph 4 unless a higher value is declared.
    </p>
    <h3>CONDITION OF CONTRACT</h3>
    <div>
        <ol>
            <li>
                <p>In this contract and the Notices appearing hereon:</p>
                <ol>
                    <li>CARRIER includes the air carrier issuing this air waybill and all 
                        carriers that carry or undertake to carry the cargo or perform any 
                        other services related to such carriage.</li>
                    <li>SPECIAL DRAWING RIGHT (SDR) is a Special Drawing Right as defined by 
                        the International Monetary Fund.</li>
                    <li>WARSAW CONVENTION means whichever of the following instruments is 
                        applicable to the contract of carriage</li>
                    <li>The Convention for the Unification of Certain Rules, Related to 
                        International Carriage by Air, signed at Warsaw, 12 October 1929, 
                        that Convention as amended at The Hague on 28 September 1955:
                    </li>
                    <li>That Convention as amended at The Hague 1955 and by Montreal Protocol 
                        No. 1, 2, o (4 \1975) as the case may be.</li>
                    <li>MONTREAL CONVENTION means the Convention for the Unification of Certain 
                        Rules for International Carriage by Air, done at Montreal on 28 May 
                        1999.</li>
                </ol>
            </li>
            <li>
                <ol>
                    <li>
                        Carriage is subject to the rules relating to liability established by 
                        the Warsaw Convention or the Montreal Convention unless such carriage 
                        is not "international carriage" as defined by the applicable Convention.
                    </li>
                    <li>
                        <p>
                            To the extent not in conflict with the foregoing, carriage and 
                            other related services performed by each Carrier are subject to:
                        </p>
                        <ol>
                            <li>
                                applicable laws and government regulations;
                            </li>
                            <li>
                                <p>
                                    provisions contained in the air waybill, Carrier's 
                                    conditions of carriage and related rules, regulations, and 
                                    timetables (but not the times of departure and arrival 
                                    stated therein) and applicable tariffs of such Carrier, 
                                    which are made part hereof, and which may be inspected at 
                                    any airports or other cargo sales offices from which it 
                                    operates regular services. When carriage is to/from the 
                                    USA, the shipper and the consignee are entitled, upon 
                                    request to receive a free copy of the Carrier’s conditions 
                                    of carriage. The Carrier’s conditions of carriage include, 
                                    but are not limited to:
                                </p>
                                <ol>
                                    <li>
                                        limits on the Carrier's liability for loss, damage or 
                                        delay of goods, including fragile or perishable goods;
                                    </li>
                                    <li>
                                        claims restrictions, including time periods within which 
                                        shippers or consignees must file a claim or bring an 
                                        action against the Carrier for its acts or omissions, or 
                                        those of its agents;</li>
                                    <li>
                                        rights, if any, of the Carrier to change the terms of the 
                                        contract;
                                    </li>
                                    <li>
                                        rules about Carrier's right to refuse to carry
                                    </li>
                                    <li>
                                        rights of the Carrier and limitations concerning delay or 
                                        failure to perform service, including schedule changes, 
                                        substitution of alternate Carrier or aircraft rerouting.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                The agreed stopping places (which may be altered by Carrier in case of necessity) 
                are those places, except the place of departure and the place of destination set 
                forth on the face hereof or shown in Carrier's timetables as scheduled stopping 
                places for the route. Carriage to be performed hereunder by several successive 
                Carriers is regarded as a single operation.
            </li>
            <li>
                For carriage to which the Montreal Convention does not apply, Carrier’s liability 
                limitations for cargo lost, damaged or delayed shall be 19 SDRS per kilogram 
                unless a greater per kilogram monetary limit is provided in any applicable 
                Convention or in Carrier's tariffs or general conditions of carriage.
            </li>
            <li>
                <ol>
                    <li>
                        Except when the Carrier has extended credit to the consignee without the 
                        written consent of the shipper, the shipper guarantees payment of all 
                        charges for the carriage due in accordance with Carrier’s tariff, 
                        conditions of the carriage and related regulations, applicable laws 
                        (including national laws implementing the Warsaw Convention and the 
                        Montreal Convention), government regulations, orders and requirements.


                    </li>
                    <li>
                        When no part of the consignment is delivered, a claim with respect 
                        to such consignment will be considered even though transportation 
                        charges thereon are unpaid.
                    </li>
                </ol>
            </li>
            <li>
                <ol>
                    <li>
                        For cargo accepted for carriage, the Warsaw Convention and the Montreal 
                        Convention permit shipper to increase the limitation of liability by 
                        declaring a higher value for carriage and paying a supplemental charge 
                        if required.
                    </li>
                    <li>
                        ln carriage to which neither the Warsaw Convention nor the Montreal 
                        Convention applies Carrier shall, in accordance with the procedures 
                        set forth in its general conditions of carriage and applicable tariffs, 
                        permit shipper to increase the limitation of liability by declaring a 
                        higher value for carriage and paying a supplemental charge if so required.
                    </li>
                </ol>
            </li>
            <li>
                <ol>
                    <li>
                        ln cases of loss of, damage or delay to part of the cargo, the weight to 
                        be taken into account in determining Carrier’s limit of liability shall 
                        be only the weight of the package or packages concerned.
                    </li>
                    <li>
                        <p>
                            ln cases of loss of, damage or delay to part of the cargo, the weight 
                            to be taken into account in determining Carrier’s limit of liability 
                            shall be only the weight of the package or packages concerned.
                        </p>
                        <ol>
                            <li>
                                ln the case of loss of, damage or delay to a shipment, the weight 
                                to be used in determining Carrier's limit of liability shall be the 
                                weight which is used to determine the charge for carriage of such 
                                shipment; and
                            </li>
                            <li>
                                In the case of loss of, damage or delay to a part of a shipment, 
                                the shipment weight in 7.2.1 shall be prorated to the packages 
                                covered by the same air waybill whose value is affected by the loss, 
                                damage or delay. The weight applicable in the case of loss or damage 
                                to one or more articles in a package shall be the weight of the 
                                entire package.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                Any exclusion or limitation of liability applicable to Carrier shall apply to 
                Carrier’s agents, employees and representatives and to any person whose aircraft 
                or equipment is used by Carrier for carriage and such person's agents, employees 
                and representatives.
            </li>
            <li>
                Carrier undertakes to complete the carriage with reasonable dispatch. 
                Where permitted by applicable laws, tariffs and government regulations, 
                Carrier may use alternative carriers, aircraft or modes of transport without 
                notice but with due regard to the interests of the shipper. Carrier is authorised 
                by the shipper to select the routing and all intermediate stopping places that it 
                deems appropriate or to change or deviate from the routing shown on the face hereof.
            </li>
            <li>
                Shipper shall comply with all applicable laws and government regulations of any 
                country to or from which the cargo may carried, including those relating to the 
                packing, carriage or delivery of the cargo, and shall furnish such information and 
                attach such documents to the air waybill as may be necessary to comply with such 
                laws and regulations. Carrier is not liable to shipper and shipper shall indemnify 
                Carrier for loss or expense due to shipper’s failure to comply with this provision.
            </li>
            <li>
                No agent, employed or representative of Carrier has authority to alter, modify or 
                waive any provisions of this contract.
            </li>
        </ol>
    </div>
</div>